.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: $button-border-radius;
    padding: 0.5rem 1.2rem;

}

.btn-primary {
    background: $primary-color;
    color: $light-color;
}

.btn-outline {
    border: 2px solid $primary-color;
    background: white;
    color: $primary-color;
}