html {
  font-size: 12px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: $dark-color;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  cursor: pointer;
}

img {
  display: block;
  margin: 0 auto;
}

// body
body {
  font-family: iran-sans;
  direction: rtl;
}

form .input,
form .textarea,
form .button {
  font-family: iran-sans;
}
