.main-faq {
  margin: 75px 0;
  .container {
    .faq-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .faq-card {
        margin: 20px 0;
        border: 1px solid gray;
        padding: 20px;
        border-radius: 10px;
        h5 {
          font-size: 20px;
          color: $primary-color;
          margin-bottom: 15px;
        }
        p {
          padding-right: 25px;
        }
      }
    }
  }
}
