.main {
    width: 100%;
    padding: 6rem 0;

    // how to start?
    .container {

        .steps {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            h2 {
                margin-bottom: 5rem;
                font-size: 25px;
            }

            .steps-card {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-gap: 2rem;
                text-align: center;

                .step-wrapper {
                    display: flex;
                    align-items: center;

                    &>i:nth-child(3) {
                        display: none;
                        padding: 0 0;
                    }

                    &>i {
                        padding: 0 0.5rem;
                    }

                    i {
                        font-size: 40px;
                        color: $primary-color;
                    }

                    h3 {
                        padding: 2rem 0;
                        font-size: 18px;
                    }
                }

            }

        }
    }

    // residence 
    .residence {
        width: 100%;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            margin-top: 4rem;
            margin-bottom: 2rem;
            padding: 2rem;
            font-size: 25px;
            position: relative;
            background: white;
            display: inline-block;
        }

        .container {
            color: $light-color;
            width: 100%;

            .residence-cards {
                width: 100%;
                display: flex;
                justify-content: center;

            }

            div {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center 30%;
            }

            .permanent {
                display: grid;
                grid-gap: 1rem;
                grid-template-columns: repeat(4, 1fr);

                div:nth-child(1) {
                    background-image: url(../images/business.jpeg);
                }

                div:nth-child(2) {
                    background-image: url(../images/family.jpeg);
                }

                div:nth-child(3) {
                    background-image: url(../images/express-entry.jpeg);
                }

                div:nth-child(4) {
                    background-image: url(../images/refuge.jpeg);
                }
            }

            .temporary {
                display: grid;
                grid-gap: 1rem;
                grid-template-columns: repeat(4, 1fr);
                grid-template-columns: repeat(3, 1fr);

                div:nth-child(1) {
                    background-image: url(../images/visitor.jpeg);
                }

                div:nth-child(2) {
                    background-image: url(../images/educational.jpeg);
                }

                div:nth-child(3) {
                    background-image: url(../images/work-permit.jpeg);
                }
            }
        }
    }

    // about us
    .about-us {
        width: 100%;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            margin-top: 2rem;
            margin-bottom: 2rem;
            padding: 2rem;
            font-size: 25px;
            position: relative;
            background: white;
            display: inline-block;
        }

        .container {
            width: 100%;

            .about-us-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                flex-direction: row;

                .descriptions {
                    width: 70%;
                }

                .certificate {
                    width: 30%;
                    display: flex;
                    align-items: end;
                    flex-direction: column;
                    margin-right: 4rem;
                    justify-content: start;


                    div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 2rem;
                        box-shadow: rgba(128, 0, 128, 0.16) 0px 3px 6px, rgba(128, 0, 128, 0.23) 0px 3px 6px;
                        padding: 2rem;
                        width: 100%;
                        height: 100px;
                        border-radius: $card-border-radius;

                        img {
                            object-fit: cover;
                            object-position: left center;
                            height: 80px;
                            display: block;
                        }
                    }
                }

                p {
                    margin-bottom: 1rem;
                    line-height: 2;
                    text-align: start;
                }
            }

        }
    }

    // slogan banner
    .slogan {
        width: 100%;
        margin-top: 3rem;
        background: url(../images/hero22.jpeg) no-repeat center 30% fixed;
        background-size: cover;
        height: 600px;

        display: flex;
        justify-content: center;
        align-items: center;

        .slogan-banner {


            h2 {
                font-size: 45px;
                text-align: center;
                color: $primary-color;
                text-shadow: 10px 10px 25px $light-color,
                    -10px 10px 25px $light-color,
                    -10px -10px 25px $light-color,
                    10px -10px 25px $light-color;

            }
        }
    }

}