.main {
    width: 100%;
    padding: 6rem 0;

    // how to start?
    .container {

        .steps {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            h2 {
                margin-bottom: 5rem;
                font-size: 25px;
            }

            .steps-card {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-gap: 2rem;
                text-align: center;

                .step-wrapper {
                    display: flex;
                    align-items: center;

                    &>i:nth-child(3) {
                        display: none;
                        padding: 0 0;
                    }

                    &>i {
                        padding: 0 0.5rem;
                    }

                    i {
                        font-size: 40px;
                        color: $primary-color;
                    }

                    h3 {
                        padding: 2rem 0;
                        font-size: 18px;
                    }
                }

            }

        }
    }

    // residence 
    .residence {
        width: 100%;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;


        h2 {
            margin-top: 4rem;
            margin-bottom: 2rem;
            padding: 2rem;
            font-size: 25px;
            position: relative;
            background: white;
            display: inline-block;
        }



        .container {
            color: $light-color;

            .residence-cards {
                display: grid;
                grid-gap: 1rem;
                grid-template-columns: repeat(4, 1fr);

            }

            div {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

            .permanent {
                div:nth-child(1) {
                    background-image: url(../images/business.jpeg);
                }

                div:nth-child(2) {
                    background-image: url(../images/family.jpeg);
                }

                div:nth-child(3) {
                    background-image: url(../images/express-entry.jpeg);
                }

                div:nth-child(4) {
                    background-image: url(../images/refuge.jpeg);
                }
            }

            .temporary {
                grid-template-columns: repeat(3, 1fr);

                div:nth-child(1) {
                    background-image: url(../images/visitor.jpeg);
                }

                div:nth-child(2) {
                    background-image: url(../images/educational.jpeg);
                }

                div:nth-child(3) {
                    background-image: url(../images/work-permit.jpeg);
                }
            }
        }
    }
}