@font-face {
  font-family: iran-sans;
  src: url(/resources/fonts/IranSans.woff); }

html {
  font-size: 12px; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

p {
  line-height: 1.6; }

a {
  text-decoration: none;
  color: #1e1e1e;
  cursor: pointer; }

ul,
li {
  list-style: none;
  cursor: pointer; }

img {
  display: block;
  margin: 0 auto; }

body {
  font-family: iran-sans;
  direction: rtl;
  height: 3000px; }

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem 1.2rem; }

.btn-primary {
  background: purple;
  color: #f5f5f5; }

.btn-outline {
  border: 2px solid purple;
  background: #f5f5f5;
  color: purple; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem; }

.selected {
  border-bottom: 2px solid purple; }

.header {
  height: 100vh;
  background: url(../images/hero3.jpeg) center top no-repeat;
  background-size: cover;
  position: relative; }
  .header .hero .container .hero-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    right: 50%; }
    .header .hero .container .hero-content h1 {
      font-size: 40px; }
    .header .hero .container .hero-content p {
      font-size: 19px;
      margin: 1rem 0; }
    .header .hero .container .hero-content div {
      display: flex;
      justify-content: end; }

header {
  width: 100%; }
  header .navbar-wrapper {
    width: 100%;
    position: fixed;
    border-bottom: 2px solid purple;
    background: rgba(255, 255, 255, 0.9);
    z-index: 50; }
    header .navbar-wrapper .container .navbar {
      display: flex;
      align-items: center;
      padding: 1rem 0;
      justify-content: space-between; }
      header .navbar-wrapper .container .navbar i {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid purple;
        border-radius: 0.5rem;
        padding: 0.6rem;
        display: none;
        font-size: 20px;
        color: purple; }
      header .navbar-wrapper .container .navbar .header-menu {
        display: flex;
        align-items: center; }
        header .navbar-wrapper .container .navbar .header-menu-links {
          display: flex;
          padding-left: 1.5rem; }
          header .navbar-wrapper .container .navbar .header-menu-links li a {
            padding: 0.5rem 1rem; }
      header .navbar-wrapper .container .navbar .header-logo {
        padding: 0.7rem 0; }

.free-menu {
  position: absolute;
  left: 0;
  bottom: 2%;
  top: 0;
  right: 0;
  background: #f5f5f5;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: none;
  transition: 0.5s;
  z-index: 90; }
  .free-menu p {
    font-size: 14px; }

.free-menu .close {
  position: absolute;
  cursor: pointer;
  left: 90%;
  top: 5%;
  color: #1e1e1e;
  z-index: 100;
  font-size: 25px; }

.free-menu .copy {
  position: absolute;
  left: 50%;
  top: 95%;
  color: #1e1e1e;
  z-index: 101;
  font-size: 25px;
  transform: translate(-50%, 0); }

.free-menu ul {
  padding-top: 3rem; }

.free-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-bottom: 2px solid #1e1e1e; }

@media (max-width: 1024px) {
  .header .hero .container .hero-content h1 {
    font-size: 30px; }
  .header .hero .container .hero-content p {
    font-size: 16px;
    margin: 1rem 0; }
  .header .hero .container .hero-content div {
    display: flex;
    justify-content: start; } }

@media (max-width: 840px) {
  .header {
    display: flex;
    justify-content: center;
    background: url(../images/hero-small.jpeg) center top no-repeat;
    background-size: cover; }
    .header .hero {
      display: flex;
      align-items: end;
      padding-bottom: 4rem;
      justify-content: center;
      text-align: center; }
      .header .hero .container {
        display: flex;
        justify-content: center; }
        .header .hero .container .hero-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          justify-self: center;
          position: inherit;
          top: 0;
          right: 0; }
          .header .hero .container .hero-content h1 {
            font-size: 35px;
            text-shadow: 10px 10px 25px purple, -10px 10px 25px purple, -10px -10px 25px purple, 10px -10px 25px purple;
            color: #f5f5f5; }
          .header .hero .container .hero-content p {
            font-size: 16px;
            margin: 2rem 0;
            text-shadow: 10px 10px 25px purple, -10px 10px 25px purple, -10px -10px 25px purple, 10px -10px 25px purple;
            color: #f5f5f5; }
          .header .hero .container .hero-content div {
            display: block; }
  header .navbar-wrapper .container .navbar .header-menu-buttons {
    display: none; } }

@media (max-width: 700px) {
  header .navbar-wrapper .container .navbar i {
    display: block; }
  header .navbar-wrapper .container .navbar .header-menu {
    display: none; } }
