@font-face {
  font-family: iran-sans;
  src: url(/resources/fonts/IranSans.woff); }

html {
  font-size: 12px; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

p {
  line-height: 1.7; }

a {
  text-decoration: none;
  color: #1e1e1e;
  cursor: pointer; }

ul,
li {
  list-style: none;
  cursor: pointer; }

img {
  display: block;
  margin: 0 auto; }

body {
  font-family: iran-sans;
  direction: rtl;
  height: 3000px; }

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem 1.2rem; }

.btn-primary {
  background: purple;
  color: #f5f5f5; }

.btn-outline {
  border: 2px solid purple;
  background: white;
  color: purple; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem; }

.selected {
  border-bottom: 2px solid purple; }

.card {
  border-radius: 1rem;
  min-width: 230px;
  min-height: 230px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(128, 0, 128, 0.16) 0px 3px 6px, rgba(128, 0, 128, 0.23) 0px 3px 6px; }
  .card h3 {
    font-size: 24px; }
  .card a {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -130%);
    padding: 0.5rem 1rem;
    font-size: 10px; }

.header-line::before {
  content: '';
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, purple 0%, purple 38%, transparent 38%, transparent 62%, purple 62%, purple 100%);
  position: absolute;
  left: 0;
  top: 50%; }

.team-member {
  min-width: 200px;
  min-height: 250px;
  border: 2px solid purple;
  display: flex;
  align-items: end;
  border-radius: 1rem;
  box-shadow: rgba(128, 0, 128, 0.16) 0px 3px 6px, rgba(128, 0, 128, 0.23) 0px 3px 6px;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important; }
  .team-member .team-title {
    width: 100%;
    padding: 0.5rem;
    padding-right: 1rem;
    background: rgba(128, 0, 128, 0.5);
    color: #f5f5f5;
    font-size: 14px; }

.header {
  height: 100vh;
  background: url(../images/hero3.jpeg) center top no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0 8px 6px -6px purple; }
  .header .hero .container .hero-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    right: 50%; }
    .header .hero .container .hero-content h1 {
      font-size: 40px; }
    .header .hero .container .hero-content p {
      font-size: 19px;
      margin: 1rem 0; }
    .header .hero .container .hero-content div {
      display: flex;
      justify-content: end; }

header {
  width: 100%; }
  header .navbar-wrapper {
    width: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 8px 6px -6px purple;
    z-index: 50; }
    header .navbar-wrapper .container .navbar {
      display: flex;
      align-items: center;
      padding: 1rem 0;
      justify-content: space-between; }
      header .navbar-wrapper .container .navbar i {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid purple;
        border-radius: 0.5rem;
        padding: 0.6rem;
        display: none;
        font-size: 20px;
        color: purple; }
      header .navbar-wrapper .container .navbar .header-menu {
        display: flex;
        align-items: center; }
        header .navbar-wrapper .container .navbar .header-menu-links {
          display: flex;
          padding-left: 1.5rem; }
          header .navbar-wrapper .container .navbar .header-menu-links li a {
            padding: 0.5rem 1rem; }
      header .navbar-wrapper .container .navbar .header-logo {
        padding: 0.7rem 0; }
        header .navbar-wrapper .container .navbar .header-logo img {
          width: 200px; }

.main {
  width: 100%;
  padding: 6rem 0; }
  .main .container .steps {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .main .container .steps h2 {
      margin-bottom: 5rem;
      font-size: 25px; }
    .main .container .steps .steps-card {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 2rem;
      text-align: center; }
      .main .container .steps .steps-card .step-wrapper {
        display: flex;
        align-items: center; }
        .main .container .steps .steps-card .step-wrapper > i:nth-child(3) {
          display: none;
          padding: 0 0; }
        .main .container .steps .steps-card .step-wrapper > i {
          padding: 0 0.5rem; }
        .main .container .steps .steps-card .step-wrapper i {
          font-size: 40px;
          color: purple; }
        .main .container .steps .steps-card .step-wrapper h3 {
          padding: 2rem 0;
          font-size: 18px; }
  .main .residence {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .main .residence h2 {
      margin-top: 4rem;
      margin-bottom: 2rem;
      padding: 2rem;
      font-size: 25px;
      position: relative;
      background: white;
      display: inline-block; }
    .main .residence .container {
      color: #f5f5f5;
      width: 100%; }
      .main .residence .container .residence-cards {
        width: 100%;
        display: flex;
        justify-content: center; }
      .main .residence .container div {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 30%; }
      .main .residence .container .permanent {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(4, 1fr); }
        .main .residence .container .permanent div:nth-child(1) {
          background-image: url(../images/business.jpeg); }
        .main .residence .container .permanent div:nth-child(2) {
          background-image: url(../images/family.jpeg); }
        .main .residence .container .permanent div:nth-child(3) {
          background-image: url(../images/express-entry.jpeg); }
        .main .residence .container .permanent div:nth-child(4) {
          background-image: url(../images/refuge.jpeg); }
      .main .residence .container .temporary {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr); }
        .main .residence .container .temporary div:nth-child(1) {
          background-image: url(../images/visitor.jpeg); }
        .main .residence .container .temporary div:nth-child(2) {
          background-image: url(../images/educational.jpeg); }
        .main .residence .container .temporary div:nth-child(3) {
          background-image: url(../images/work-permit.jpeg); }
  .main .about-us {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .main .about-us h2 {
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding: 2rem;
      font-size: 25px;
      position: relative;
      background: white;
      display: inline-block; }
    .main .about-us .container {
      width: 100%; }
      .main .about-us .container .about-us-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-direction: row; }
        .main .about-us .container .about-us-wrapper .descriptions {
          width: 70%; }
        .main .about-us .container .about-us-wrapper .certificate {
          width: 30%;
          display: flex;
          align-items: end;
          flex-direction: column;
          margin-right: 4rem;
          justify-content: start; }
          .main .about-us .container .about-us-wrapper .certificate div {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2rem;
            box-shadow: rgba(128, 0, 128, 0.16) 0px 3px 6px, rgba(128, 0, 128, 0.23) 0px 3px 6px;
            padding: 2rem;
            width: 100%;
            height: 100px;
            border-radius: 1rem; }
            .main .about-us .container .about-us-wrapper .certificate div img {
              object-fit: cover;
              object-position: left center;
              height: 80px;
              display: block; }
        .main .about-us .container .about-us-wrapper p {
          margin-bottom: 1rem;
          line-height: 2;
          text-align: start; }
  .main .slogan {
    width: 100%;
    margin-top: 3rem;
    background: linear-gradient(rgba(128, 0, 128, 0.7), rgba(128, 0, 128, 0.7)), url(../images/hero22.jpeg) no-repeat center 30% fixed;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main .slogan .slogan-banner h2 {
      font-size: 45px;
      text-align: center;
      color: purple;
      text-shadow: 10px 10px 25px #f5f5f5, -10px 10px 25px #f5f5f5, -10px -10px 25px #f5f5f5, 10px -10px 25px #f5f5f5; }
  .main .team {
    padding-top: 4rem; }
    .main .team .container .team-up {
      display: flex;
      margin: 2rem 0; }
      .main .team .container .team-up .team-member {
        min-width: 500px;
        min-height: 400px;
        margin-left: 2rem;
        background: url(../images/maryam.jpeg); }
      .main .team .container .team-up .team-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start; }
        .main .team .container .team-up .team-description h4 {
          padding: 1rem 0; }
    .main .team .container .team-down {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem; }
      .main .team .container .team-down .team-member:nth-child(1) {
        background: url(../images/pantea.jpeg); }
      .main .team .container .team-down .team-member:nth-child(2) {
        background: url(../images/ensieh.jpeg); }
      .main .team .container .team-down .team-member:nth-child(3) {
        background: url(../images/babak.jpeg); }
      .main .team .container .team-down .team-member:nth-child(4) {
        background: url(../images/sina.jpeg); }

.free-menu {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background: #f5f5f5;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: none;
  transition: 0.5s;
  z-index: 90; }
  .free-menu p {
    font-size: 14px; }

.free-menu .close {
  position: absolute;
  cursor: pointer;
  left: 90%;
  top: 5%;
  color: #1e1e1e;
  z-index: 100;
  font-size: 25px; }

.free-menu .copy {
  position: absolute;
  left: 50%;
  top: 90%;
  color: #1e1e1e;
  z-index: 101;
  font-size: 20px;
  transform: translate(-50%, 0); }

.free-menu ul {
  padding-top: 3rem; }

.free-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-bottom: 2px solid #1e1e1e; }

@media (max-width: 1024px) {
  .header .hero .container .hero-content h1 {
    font-size: 30px; }
  .header .hero .container .hero-content p {
    font-size: 16px;
    margin: 1rem 0; }
  .header .hero .container .hero-content div {
    display: flex;
    justify-content: start; }
  .main .residence .container .permanent {
    grid-template-columns: repeat(2, 1fr);
    min-height: 600px;
    padding: 1rem;
    grid-gap: 2rem; }
  .main .residence .container .temporary {
    min-height: 400px;
    padding: 1rem;
    grid-gap: 2rem; }
  .main .about-us .container .about-us-wrapper {
    flex-direction: column;
    justify-content: space-around; }
    .main .about-us .container .about-us-wrapper .description p {
      text-align: center; }
    .main .about-us .container .about-us-wrapper .certificate {
      width: 80%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-right: 0px; }
      .main .about-us .container .about-us-wrapper .certificate div {
        margin: 2rem 1rem; }
  .main .team .container .team-up .team-member {
    min-width: 350px;
    min-height: 280px; }
  .main .team .container .team-up .team-description h4 {
    padding: 0.5rem 0; }
  .main .team .container .team-down {
    grid-gap: 1rem; }
    .main .team .container .team-down .team-member {
      min-width: 180px;
      min-height: 180px; } }

.header-line::before {
  content: '';
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, purple 0%, purple 30%, transparent 30%, transparent 70%, purple 70%, purple 100%);
  position: absolute;
  left: 0;
  top: 50%; }

@media (max-width: 850px) {
  .header {
    display: flex;
    justify-content: center;
    background: url(../images/hero-small-2.jpeg) center top no-repeat;
    background-size: cover; }
    .header .navbar-wrapper .container .navbar .header-menu-buttons {
      display: none; }
    .header .hero {
      display: flex;
      align-items: end;
      padding-bottom: 7rem;
      justify-content: center;
      text-align: center; }
      .header .hero .container {
        display: flex;
        justify-content: center; }
        .header .hero .container .hero-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          justify-self: center;
          position: inherit;
          top: 0;
          right: 0; }
          .header .hero .container .hero-content h1 {
            font-size: 35px;
            text-shadow: 10px 10px 25px #f5f5f5, -10px 10px 25px #f5f5f5, -10px -10px 25px #f5f5f5, 10px -10px 25px #f5f5f5;
            color: #1e1e1e; }
          .header .hero .container .hero-content p {
            font-size: 16px;
            margin: 3rem 0;
            text-shadow: 10px 10px 25px #f5f5f5, -10px 10px 25px #f5f5f5, -10px -10px 25px #f5f5f5, 10px -10px 25px #f5f5f5;
            color: #1e1e1e; }
          .header .hero .container .hero-content div {
            display: block; }
  .main {
    width: 100%;
    padding: 6rem 0; }
    .main .container .steps {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; }
      .main .container .steps h2 {
        margin-bottom: 5rem;
        font-size: 25px; }
      .main .container .steps .steps-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
        text-align: center; }
        .main .container .steps .steps-card .step-wrapper {
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 1rem; }
          .main .container .steps .steps-card .step-wrapper > i:nth-child(3) {
            display: flex;
            margin-top: 2rem; }
          .main .container .steps .steps-card .step-wrapper > i:nth-child(2) {
            display: none; }
    .main .residence .container {
      width: 90%; }
      .main .residence .container .permanent,
      .main .residence .container .temporary {
        grid-template-columns: repeat(1, 1fr);
        min-height: 500px;
        padding: 1rem;
        grid-gap: 2rem; }
    .main .team {
      padding-top: 4rem; }
      .main .team .container .team-up {
        display: flex;
        margin: 2rem 0; }
        .main .team .container .team-up .team-member {
          min-width: 300px;
          min-height: 250px;
          margin-left: 2rem;
          background: url(../images/maryam.jpeg); }
        .main .team .container .team-up .team-description {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start; }
          .main .team .container .team-up .team-description h4 {
            padding: 0.5rem 0; }
      .main .team .container .team-down {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem; }
        .main .team .container .team-down .team-member {
          min-width: 180px;
          min-height: 220px; } }

@media (max-width: 700px) {
  header .navbar-wrapper .container .navbar i {
    display: block; }
  header .navbar-wrapper .container .navbar .header-menu {
    display: none; }
  .header-line::before {
    content: '';
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, purple 0%, purple 10%, transparent 10%, transparent 90%, purple 90%, purple 100%);
    position: absolute;
    left: 0;
    top: 50%; }
  .main .about-us .container .about-us-wrapper {
    flex-direction: column;
    justify-content: space-around; }
    .main .about-us .container .about-us-wrapper .description p {
      text-align: center; }
    .main .about-us .container .about-us-wrapper .certificate {
      width: 80%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 0px; }
      .main .about-us .container .about-us-wrapper .certificate div {
        margin: 2rem 1rem; }
  .main .slogan {
    background-attachment: initial; }
  .main .team {
    padding-top: 4rem; }
    .main .team .container .team-up {
      display: flex;
      flex-direction: column;
      margin: 2rem 0;
      justify-content: center;
      align-items: center; }
      .main .team .container .team-up .team-member {
        min-width: 400px;
        min-height: 400px;
        margin-bottom: 2rem;
        background: url(../images/maryam.jpeg); }
      .main .team .container .team-up .team-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .main .team .container .team-up .team-description h4 {
          padding: 0.5rem 1.5rem;
          text-align: center; }
    .main .team .container .team-down {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 2rem; }
      .main .team .container .team-down .team-member {
        justify-self: center;
        min-width: 320px;
        min-height: 320px;
        background-position: center top; } }
