// steps
.main {
    width: 100%;
    padding: 6rem 0;

    .container {

        .steps {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            h2 {
                margin-bottom: 5rem;
                font-size: 25px;
            }

            .steps-card {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-gap: 2rem;
                text-align: center;

                .step-wrapper {
                    display: flex;
                    align-items: center;

                    &>i:nth-child(3) {
                        display: none;
                        padding: 0 0;
                    }

                    &>i {
                        padding: 0 0.5rem;
                    }

                    i {
                        font-size: 40px;
                        color: $primary-color;
                    }

                    h3 {
                        padding: 2rem 0;
                        font-size: 18px;
                    }
                }

            }

        }
    }

}